<!doctype html>
<html>
    <head>
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="/css/main.css")
        <meta charset="UTF-8" />
        <title>NodeJS|Code</title>
    </head>
    <body>
    .wrapper
        h1
            | This is 
            <a href="https://github.com/dzemi/nodejss" target="_blank"> code</a>
    </body>
</html>
