<!doctype html>
<html>
    <head>
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="/css/main.css")
        <meta charset="UTF-8" />
        <title>NodeJS|Download</title>
    </head>
    <body>
    .wrapper
        h1
            <a href="https://nodejs.org" target="_blank">Download</a>
    </body>
</html>
