<!doctype html>
<html>
    <head>
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="/css/main.css")
        <meta charset="UTF-8" />
        <title>NodeJS</title>
    </head>
    <body>
    <ul class="menu_poziome"><li><a href="/me">Me</a></li><li><a href="/download">Download</a></li><li><a href="tlo.html">Tło</a></li><li><a href="marginesy.html">Marginesy</a></li><li><a href="obramowanie.html">Obramowanie</a></li></ul>
    </body>
</html>

