<!doctype html>
<html>
    <head>
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="/css/main.css")
        <meta charset="UTF-8" />
        <title>NodeJS</title>
    </head>
    <body>
    <h1>This is NodeJS</h1>
    <ul class="list-divider-pipe">
        <li class="active">
        <a href="/">Home</a>
        </li>
        <li>
            <a href="/me">Me</a>
        </li>
        <li>
            <a href="/download">Download</a>
        </li>
        <li>
            <a href="/nodejs">NodeJS</a>
        </li>
        <li>
            <a href="/web">My web</a>
        </li>
        <li>
            <a href="/code">Code</a>
        </li>
    </ul>
    </body>
</html>