<!doctype html>
<html>
    <head>
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="/css/main.css")
        <meta charset="UTF-8" />
        <title>NodeJS</title>
    </head>
    <body>
    .wrapper
        h1
            | Yea, this is NodeJS
    </body>
</html>
