<!doctype html>
<html>
    <head>
        link(rel="stylesheet" href="https://fonts.googleapis.com/css?family=Montserrat")
        link(rel="stylesheet" href="/css/main.css")
        <meta charset="UTF-8" />
        <title>NodeJS|Web</title>
    </head>
    <body>
    .wrapper
        h1
            | This is my 
            <a href="https://dzem.tk" target="_blank"> web</a>
    </body>
</html>
